#Issue Tracking 
##Best practises 
- Assign a issue to yourself if you feel you can take care of it and finish it up else assign it to zee
- Add labels whenever possible so that we can concentrate on high priority things first
- In case of duplicate issues, add reference and tag issue with duplicate label
